@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");



.cards {
  position: relative;
  width: 80%;
  height: 480px;
  background: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

.cards::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #434342;
  transform: skewY(345deg);
  transition: 0.5s;
}

.cards:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.cards::after {

  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.cards .imgBox {
  position: relative;
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}

.cards .imgBox img {
    width: 90%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
    border-radius: 10px;
}

.cards .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.cards .contentBox h3 {
  font-size: 18px;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cards .contentBox .price {
  font-size: 24px;
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
}

.cards .contentBox p{
  position: absolute;
  margin: 0 auto;
  width: 80%;
  top: 40%;
  transition: 0.5s;
}

.cards .contentBox .buy,
.cards .contentBox .cart {
  display: inline-block;
  margin-top: 10px;
  position: relative;
  top: 0;
  opacity: 0;
  color: #ffffff;
  text-decoration: none;
  background: rgb(255, 205, 98);
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
  cursor: pointer;
  font-family: 'Istok Web', sans-serif;
}

.cards:hover .contentBox .buy,
.cards:hover .contentBox .cart {
  top: -10px;
  opacity: 1;
}
.cards .contentBox .buy {
  /* Các thuộc tính khác */
  z-index: 2;
}

.price{
  margin: auto;
}


.cards:hover .contentBox p {
  opacity: 0;
}

.mouse {
  height: 300px;
  width: auto;
}

.col{
  display: flex;
  justify-content: center;
}

.row{
  margin: auto;
}

.checkoutBT{
  
  background-color: orange;
}